{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación de Empresa</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Regresar</a>
        </li>
    </ul>
{% endblock %}
