{% extends 'base.html.twig' %}
{% block body %}
    <body>
    {# app/Resources/views/security/login.html.twig #}
    {# ... you will probably extend your base template, like base.html.twig #}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <table>
        <tbody>
        <form action="{{ path('login') }}" method="post">
            <tr>
                <th> <label for="usuario">Usuario</label> </th>

            </tr>
            <tr>
                <td><input type="text" id="usuario" name="_username" value="{{ last_username }}" /></td>
            </tr>
            <tr>
                <th><label for="contrasenia">Contraseña</label></th>
            </tr>
            <tr>
                <td><input type="password" id="contrasenia" name="_password" /></td>
            </tr>
            <tr>
                <td><button type="submit">login</button></td>
            </tr>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

        </form>
        </tbody>
    </table>
    </body>
{% endblock %}